/*https://pridiot.tistory.com/15 메뉴 스타일 참고*/
/*https://kuzuro.blogspot.com/2018/08/htmlcss.html 메뉴 스타일 참고 */
body{
  margin:0;
}
ul, ol, li {
  list-style:none;
  margin:0;
  padding:0;
}

ul.mainmenu {
}
ul.mainmenu > li {
  display:inline-block;
  width:200px;
  padding:5px 10px;
  background:#eee;
  text-align:center;
  position:relative;
}
ul.mainmenu > li:hover {
  background:#fff;
}
ul.mainmenu > li ul.submenu {
  display:none;
  position:absolute;
  top:30px;
  left:0;
}
ul.mainmenu > li:hover ul.submenu {
  display:block;
}
ul.mainmenu > li ul.submenu > li {
  display:inline-block;
  width:200px;
  padding:5px 10px;
  background:#eee;
  border:1px solid #eee;
  text-align:center;
}
ul.mainmenu > li ul.submenu > li:hover {
  background:#fff;
}

h1{
  font-size : 100px;
  text-align : center;
  border-bottom : 1px solid gray;
  margin:0;
  padding:20px;
}

a {
  color:black;
  text-decoration: none;
}

#top{
  border:1px solid black;
  background-image:url("../image/head.jpg");
  background-size: 300px;
}
#article{
  padding:0;
  border:2px solid blue;
  text-align:center;
}

/*
ol{
  border-right:1px solid gray;
  width:200px;
  margin:0;
  padding:20px;
}
#grid
{
 display: grid;
 grid-template-columns: 150px 1fr;
}

#grid ol{
  padding-left:32px;
}
#grid #article{
  padding:25px;
  padding-left : 125px;
}
@media(max-width:800px){
  #grid{
   display: block;
  }
  ol{
    border-right:none;
  }
  h1{
    border-bottom : none;
  }
}
*/
#head{
  color: green;
}
#form {
  border : 20px solid lightblue;
  padding : 5px 20px;
  position:absolute;
  top:50%;
  left:50%;
  width:450px;
  height:250px;
  margin-left:-220px;
  margin-top:-40px;

  display : flex;
  flex-direction : column;
  justify-content : center;
  align-items : center;
}
#head2 {
  font-size : 25px;
  padding-bottom : 20px;
}
.form {
  width : 300px;
}
.form > div {
  display : flex;
  justify-content : center;
  padding-bottom : 7px;
  align-items : center;
}
label {
  flex : 1;
  text-align : left;
}
button{
  width : 85px;
  float : right;
  padding : 3px;
}
input {
  padding : 5px;
}
.grid-container {
  display : grid;
  grid-template-columns : repeat(auto-fill, minmax(300px, 1fr));
  grid-gap : 1em;
}
#gallary-image {
  width : 100%;
  height : auto;
}
.location {
  position : relative;
  overflow : hidden;
}
.location-title {
  position : absolute;
  top : 0;
  left : 0;
  height : 100%;
  width : 100%;
  background : rgba(90,0,10,0.4);

  /* typograghic style */
  color : white;
  font-size : 1.5em;
  font-weight : bold;
  text-decoration : none;

  /* position the next centrally */
  display : flex;
  align-items : center;
  justify-content : center;

  /* hide the title by default */
  opacity : 0;
  transition : opacity .5s;

  /* hover 효과로 없어진 제목 나타내기 */
  z-index : 1;
}
.location:hover .location-title {
  opacity : 1;
}
.location-image {
  line-height : 0;
}
.location-image img {
  filter : blur(0px);
  transition : filter 0.3s ease-in;
  tranform : scale(1.1); /*이미지를 사방으로 1.1배 키움 */
}
.location:hover .location-image img {
  filter : blur(2px);
}

/* for touch screen devices */
@media (hover : none) {
  .location-title {
    opacity : 1;
  }
  .location-image img {
    filter : blur(2px);
  }
}
#head5 {
  font-size : 40px;
  text-align : center;
  margin-top : 20px;
  margin-bottom : 0;
}
